<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 등록</title>
</head>
<body>
    <h1>게시글 등록</h1>
    <form action="/board/insert" method="post">
        <table border="1">
            <tr>
                <td>제목</td>
                <td><input type="text" name="title"></td>
            </tr>
            <tr>
                <td>작성자</td>
                <td><input type="text" name="writer"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea name="content" cols="22" rows="10"></textarea></td>
            </tr>
        </table>
        <input type="submit" value="등록">
        <button type="button" onclick="moveToList()">목록</button>
    </form>
</body>
<script>

    function moveToList() {
        location.href = '/board/list'
    }

</script>
</html>